.notification-toast {
  box-shadow: none !important;
}

.quick-input-widget.show-file-icons {
  box-shadow: none !important;
}

/* .quick-input-widget {
  top: 25vh !important;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, .35) !important;
} */
.quick-input-widget {
  transform: translateY(-50%) !important;
  top: 50% !important;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.35) !important;
  border: 1px solid rgba(86, 222, 252, 1) !important;
  padding: 10px 10px 10px 10px !important;
  background-image: none !important;
  /* background-image: linear-gradient(#141414 0%, #101010 100%) !important; */
  /* background-image: linear-gradient(#181825 0%, #11111B 100%) !important; */
  /* background: #3c3c50 !important; */
  backdrop-filter: blur(3px) !important;
  border-radius: 20px !important;
  /* width: 50% !important; */
}

.quick-input-list .scrollbar {
  display: none;
}

.monaco-action-bar.quick-input-inline-action-bar {
  display: none;
}

.editor-widget.find-widget {
  box-shadow: none;
  border-radius: 4px;
}

.quick-input-titlebar {
  background: #100b15 !important;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.title-border-bottom:after {
  display: none;
}

.monaco-scrollable-element > .shadow.top {
  display: none;
}

.sidebar .title-label {
  padding: 0 !important;
}

.sidebar {
  border: none !important;
}

.monaco-workbench .monaco-list:not(.element-focused):focus:before {
  outline: none !important;
}

.monaco-list-row.focused {
  outline: none !important;
}

.monaco-editor .scroll-decoration {
  display: none;
}

.title-actions {
  display: none !important;
}

.title.show-file-icons .label-container .monaco-icon-label.file-icon {
  justify-content: center;
  padding: 0 !important;
}

.title .monaco-icon-label:after {
  margin-right: 0;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  > .label-container
  > .title-label {
  padding-left: 60px;
}

.title .monaco-icon-label.file-icon {
  margin: 0 60px;
}

.monaco-editor .cursors-layer .cursor {
  background-image: linear-gradient(135deg, #afc4ff 10%, #709ada 100%);
}

.monaco-list.list_id_1 .monaco-list-row.selected {
  background-color: rgba(79, 89, 113, 0.6) !important;
  opacity: 1 !important;
  /* border-top: 1px #727b90 solid; */
  /* border-bottom: 1px #727b90 solid; */
}

.codicon-tree-item-expanded:before {
  display: none !important;
}

.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
  color: #fff !important;
  opacity: 1 !important;
}

.monaco-workbench .part.sidebar .title-actions .actions-container {
  display: none;
}

.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row .monaco-icon-label .label-name {
  font-family: "Geist Mono", monospace !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #fff !important;
}

.explorer-item-edited {
  font-family:
    Geist Mono,
    monospace !important;
  font-size: 14px !important;
}

.monaco-icon-label-container {
  font-family: "Geist Mono", monospace !important;
}

.search-label {
  font-family: "Geist Mono" monospace !important;
  font-size: 14px !important;
  color: #fff;
  display: block;
}

.quick-input-filter .monaco-inputbox {
  border-radius: 12px !important;
  padding: 14px !important;
  border: none !important;
  font-family: "Geist Mono", monospace !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
}

#command-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
}

.monaco-list .monaco-list-row.focused {
  background-color: rgba(79, 89, 113, 0.3) !important;
  outline: none !important;
}

.monaco-list .monaco-list-row.focused .label-name {
  color: #fff !important;
}
